@model DatosMVC.Models.Datos

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroTarjeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroTarjeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroCuenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroCuenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contrasena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contrasena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DobleContrasena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DobleContrasena)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.DatosId }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
</p>
